# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

# log files
*.log


.cache
.config
.local
.git
.pm2
.npm
.ssh
.env
.bash_history
.bash_logout
.bashrc
.dbshell
.gitconfig
.mongorc.js
.profile
.selected_editor
/package-lock.json
mongodb-org-server_5.0.9_amd64.deb
mongodb-org-server_5.0.9_amd64.deb.1
.gitignore